﻿@using QuestionThree.Dtos
@model Actor
@{
    ViewData["Title"] = "Details";
    var result = ViewData["result"] as Result;
}

@{
    if (result != null)
    {
        <form asp-action="Details">
            @{
                if (ViewData["showError"] != null)
                {
                    <div class="alert alert-primary" role="alert">
                        You've exceeded the maximum number of favorites allowed.
                    </div>
                }
            }

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> @result.Name</h5>
                    <hr />
                    <div>
                        <h6 class="my-0"> Eye Color</h6>
                        <small class="text-muted"> @result.EyeColor</small>
                    </div>
                    <div>
                        <h6 class="my-0"> BirthYear</h6>
                        <small class="text-muted"> @result.BirthYear</small>
                    </div>
                    <div>
                        <h6 class="my-0"> Gender</h6>
                        <small class="text-muted"> @result.Gender</small>
                    </div>
                    <div>
                        <h6 class="my-0"> Hair Color</h6>
                        <small class="text-muted"> @result.HairColor</small>
                    </div>
                    <div>
                        <h6 class="my-0"> Height</h6>
                        <small class="text-muted"> @result.Height</small>
                    </div>
                    <div>
                        <h6 class="my-0"> Mass</h6>
                        <small class="text-muted"> @result.Mass</small>
                    </div>
                    <div>
                        <h6 class="my-0"> Skin Color</h6>
                        <small class="text-muted"> @result.SkinColor</small>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="PeopleId" class="form-control" />
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsFavorite" /> @Html.DisplayNameFor(model => model.IsFavorite)
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>

                </div>
            </div>
        </form>
    }
}

