﻿@using System.Web
@model List<QuestionThree.Dtos.PeopleExtended>
@{
    ViewData["Title"] = "Index";
}

<h3 class="display-4">
    Star Wars Characters
</h3>


@{
    if (Model != null)
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth Year</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mass</th>
                    <th scope="col">Hair Color</th>
                    <th scope="col">Skin Color</th>
                    <th scope="col">Eye Color</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    foreach (var modelResult in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>
                                <a class="text-dark" target="_blank" asp-area="" asp-controller="Actors" asp-action="Details" asp-route-id="@count">
                                    @{
                                        string name;

                                        if (modelResult.IsFavorite)
                                        {
                                            name = $"<i class='fa fa-heart'></i> {modelResult.Name}";
                                        }
                                        else
                                        {
                                            name = modelResult.Name;
                                        }
                                    }
                                    @Html.Raw(name)
                                </a>
                            </td>
                            <td>@modelResult.Gender</td>
                            <td>@modelResult.BirthYear</td>
                            <td>@modelResult.Height</td>
                            <td>@modelResult.Mass</td>
                            <td>@modelResult.HairColor</td>
                            <td>@modelResult.SkinColor</td>
                            <td>@modelResult.EyeColor</td>
                            <td>
                                <a target="_blank" asp-area="" asp-controller="Actors" asp-action="Details" asp-route-id="@count" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Details</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
